CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
CADDY_DOCKER_ACME_AGREE=true
CADDY_DOCKER_ROOT=
CADDY_DOCKER_GATEWAY=
CADDY_NODE_SSH_HOST=
CADDY_NODE_SSH_USER=
CADDY_NODE_SSH_KEY=private_key
CADDY_NODE_ROOT_PWD=
CADDY_NODE_PORT=3000
CADDY_FILE=./caddyfiles/CaddyfileLocal
CADDY_DOCKER_EXTRA=-ca=https://acme-staging-v02.api.letsencrypt.org/directory
DEBUG=app*
CADDYPATH=/etc/caddycerts
EXAMPLES=
CADDY_FILE_EXAMPLE_PRODUCTION=./caddyfiles/CaddyfileLocal
CADDY_DOCKER_EXTRA_EXAMPLE_ONE=-ca=https://acme-staging-v02.api.letsencrypt.org/directory
CADDY_DOCKER_EXTRA_EXAMPLE_TWO=any_caddy_valid_argument_must_not_be_empty_example:-root=/apps
