(wildcard_cert) {
    tls {
        dns cloudflare
        wildcard
    }
}

https://caddy.misitioba.com {
  proxy  / caddynode:3000
  basicauth / root {%CADDY_NODE_ROOT_PWD%}
}


# MANUAL ENTRIES HERE


https://montech.misitioba.com {
  redir / https://montpedigital.misitioba.com 301
}

https://lesbaujardins.misitioba.com {
	import wildcard_cert
	redir https://savoie.misitioba.com/basket-hot?org=lesbaujardins
}

enbauges.com, www.enbauges.com {
 proxy / enbauges_wp:80 {
  transparent
 }
}

    
https://montpedigital.misitioba.com {
    import wildcard_cert
    root /apps/montpedigital/public_html
}

https://misitioba.com {
    root /apps/misitioba-nuxt/build
}

https://www.misitioba.com {
    import wildcard_cert
    root /apps/misitioba-nuxt/build
}

https://adminer.misitioba.com {
    import wildcard_cert
    proxy / adminer:8080
    basicauth / root {%CADDY_NODE_ROOT_PWD%}
}

https://netdata.misitioba.com {
    import wildcard_cert
    proxy / netdata:19999
    basicauth / root {%CADDY_NODE_ROOT_PWD%}
}

https://docker.misitioba.com {
    import wildcard_cert
    proxy / portainer:9000
}

https://incubadoraitinerante.com {
    root /apps/incubadora-itinerante/dist
}

https://www.incubadoraitinerante.com {
    root /apps/incubadora-itinerante/dist
}

https://enbauges.misitioba.com {
    import wildcard_cert
    root /apps/bauges/dist
}

https://alvaro.misitioba.com {
    import wildcard_cert
    root /apps/alvaro/dist
}

https://savoie.misitioba.com {
    import wildcard_cert
    proxy / savoie:3000
}

https://arancibiajav.misitioba.com {
    import wildcard_cert
    root /apps/arancibiajav/public_html
}

https://mongo.misitioba.com {
    import wildcard_cert
    proxy / mongo-gui:8081
    basicauth / root {%CADDY_NODE_ROOT_PWD%}
}

https://edge.bureaucoop.misitioba.com {
    import wildcard_cert
    root /apps/savoie-edge/apps/bureaucoop/public_html
}

https://edge.savoie.misitioba.com {
    import wildcard_cert
    proxy / 178.128.254.49:3600
}

https://mfc.misitioba.com {
    import wildcard_cert
    proxy / 178.128.254.49:3600/imptfc
}

https://wetty.misitioba.com {
    import wildcard_cert
    proxy / 178.128.254.49:9055
}

https://preview.hdmpt.misitioba.com {
    import wildcard_cert
    root /apps/hd-mpt-landing
}

https://api.mfc.misitioba.com {
    import wildcard_cert
    proxy / 178.128.254.49:3310
}

https://cloudcms.misitioba.com {
    import wildcard_cert
    proxy / 178.128.254.49:8757
}

https://comments.mfc.misitioba.com {
    import wildcard_cert
    proxy / 178.128.254.49:3333
}

https://notes.devforgood.org {
    import wildcard_cert
    proxy / 178.128.254.49:3838
}

https://devforgood.org {
    proxy / dfg-next:3000
}

https://hookcmd.misitioba.com {
    import wildcard_cert
    proxy / hookcmd:3000/admin
    basicauth / root {%CADDY_NODE_ROOT_PWD%}
}

https://webhooks.misitioba.com {
    import wildcard_cert
    proxy / hookcmd:3000
}

https://www.devforgood.org {
    import wildcard_cert
    proxy / dfg-next:3000
}

https://rabbit.misitioba.com {
    import wildcard_cert
    proxy / 178.128.254.49:15672
}

https://mail.misitioba.com {
    import wildcard_cert
    proxy / poste:80
}

https://happydev.misitioba.com {
    import wildcard_cert
    root /apps/hd-website/build
}

https://forum.devforgood.org {
    import wildcard_cert
    proxy / dfg-flarum:8888
}

https://strapi.misitioba.com {
    import wildcard_cert
    proxy / strapi:1337
}

https://strapi.happydev.misitioba.com {
    import wildcard_cert
    proxy / hd_strapi:1337
}

https://www.eutopiaecoaldea.com {
    import wildcard_cert
    proxy / eutopiaecoaldea:3000
}

https://prefectureherault.misitioba.com {
    import wildcard_cert
    proxy / rdvprefempt:3000
}

https://eutopiaecoaldea.com {
    proxy / eutopiaecoaldea:3000
}
